<div class="screen">
  <symo-top-bar [title]="'info.title' | transloco" />

  <div class="content">
    <div class="intro">
      <h2>{{ 'info.heading' | transloco }}</h2>
      <p>{{ 'info.subheading' | transloco }}</p>
    </div>

    <div class="fields">
      <div class="field">
        <label>
          {{ 'info.allergies' | transloco }}
          <span class="optional">({{ 'info.optional' | transloco }})</span>
        </label>
        <symo-searchable-multiselect-dropdown
          [options]="allergyOptions"
          [value]="store.userInfo().allergies"
          (valueChange)="update('allergies', $event)"
          [placeholder]="'info.allergiesPlaceholder' | transloco"
          [addLabel]="'info.addCustom' | transloco"
          [emptyLabel]="'info.noResults' | transloco"
        />
      </div>

      <div class="field">
        <label>
          {{ 'info.medications' | transloco }}
          <span class="optional">({{ 'info.optional' | transloco }})</span>
        </label>
        <symo-searchable-multiselect-dropdown
          [options]="medicationOptions"
          [value]="store.userInfo().medications"
          (valueChange)="update('medications', $event)"
          [placeholder]="'info.medicationsPlaceholder' | transloco"
          [addLabel]="'info.addCustom' | transloco"
          [emptyLabel]="'info.noResults' | transloco"
        />
      </div>

      <div class="field">
        <label>
          {{ 'info.history' | transloco }}
          <span class="optional">({{ 'info.optional' | transloco }})</span>
        </label>
        <symo-searchable-multiselect-dropdown
          [options]="historyOptions"
          [value]="store.userInfo().history"
          (valueChange)="update('history', $event)"
          [placeholder]="'info.historyPlaceholder' | transloco"
          [addLabel]="'info.addCustom' | transloco"
          [emptyLabel]="'info.noResults' | transloco"
        />
      </div>
    </div>
  </div>

  <div class="footer">
    <button type="button" class="generate" (click)="next()">
      <!-- {{ 'info.generate' | transloco }} -->
      <!-- <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
           stroke-linecap="round" stroke-linejoin="round">
        <polyline points="9 18 15 12 9 6" />
      </svg> -->
      <svg width="76" height="74" viewBox="0 0 76 74" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g>
          <path class="shape" d="M62.7119 38.7359C62.7119 21.0429 54.635 12.7119 31.4409 12.7119C13.8268 12.7119 12.7119 24.4391 12.7119 35.3239C12.7119 46.2087 18.0406 61.238 32.3831 61.238C48.7933 61.238 62.7119 56.4288 62.7119 38.7359Z"/>
          <path class="shape-inner" d="M31.0482 48.3331C31.0247 47.9157 31.0466 47.6609 31.2941 47.304C31.5644 46.9142 31.9317 46.58 32.2685 46.2442L33.6045 44.9097L38.7395 39.775L40.2192 38.2965C40.5278 37.9898 40.9056 37.6327 41.1851 37.3123C41.0602 37.1297 40.7538 36.8541 40.5881 36.6879L39.3459 35.4475L34.2638 30.3575L32.45 28.5506C32.0929 28.1948 31.5791 27.7391 31.3045 27.332C30.5611 26.2209 31.413 24.7961 32.6992 24.7708C33.4992 24.7552 34.3086 25.7649 34.8391 26.2944L41.877 33.3403L44.0711 35.5313C44.3074 35.7698 44.5853 36.0098 44.8105 36.2541C45.1595 36.6325 45.2328 37.7124 44.9094 38.1059C44.6126 38.4671 44.164 38.8832 43.8236 39.224L41.2993 41.7421L36.1447 46.897L34.5844 48.4639C34.2738 48.7764 33.9683 49.0966 33.6404 49.3905C32.6727 50.2579 31.242 49.5285 31.0482 48.3331Z"/>
        </g>
      </svg>
    </button>
  </div>
</div>